// With Emacs, edit in -*- mode: c++ -*- for best legibility.
/* Informally, the grammar of this file is as follows:
 *
 * file: contents
 * contents: ( string value ';' )*
 * string: quoted string; or unquoted sequence of letters, digits,
 *   '-', '.', '_' and '#'
 * value: string | inaddr | stringlist | object
 * inaddr: string string, representing host name and port number or name
 * stringlist: '(' ( ( string ',' )* string )? ')'
 * object: '{' contents '}'
 *
 * Comments can be either C or C++ style.
 */

core {
    // You may want a library-path line if your run srvx from the build tree.
    // library_path ( "./modules" );
    modules ( iauth_loc );
};

logs {
    // Contents in this section have names that consist of a facility
    // name, a period, and a severity name or range.  Some facility
    // names, and all of the severities, are listed below.  The values
    // are either target names or lists of target names.  A log target
    // consists of a method, a colon, and method-specific options.

    // Predefined core log facilities are: core, config, resolver, *.
    // The facility named * receives all messages.

    // The log severities, from least to most severe, are: debug,
    // command, info, warning, error, fatal.

    // Supported log methods: file (with file names relative to
    // /usr/local/log/).

    "*.>=info" "file:iauthd-c.log";
};

iauth {
    // This indicates the number of seconds before IAuth tries to
    // accept a client even if some modules might not have all the
    // data they want.  (To be precise, this many seconds after an
    // IAuth request is created, the client will be accepted if only
    // "soft" holds remain.)  With ircu2.10.12.15 and later, this
    // can safely be removed; with earlier versions, that will cause
    // Authorization Timeout rejections instead of accepting the
    // clients.
    timeout 30;
};

iauth_loc {
    server channels.example.org;
    // If IPR (IP restrictions) is true, IAuth will send a command like
    // "LOGIN2 192.168.0.1 localhost.localdomain ident user password"
    // instead of just "LOGIN user password".
    ipr true;
};
